.gr-1 {
background: linear-gradient(170deg, #0DA50A 0%, #ADF1AC 80%);
}
.gr-2 {
  background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
}
.gr-3 {
  background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
}
.opacity1{
  opacity: .5;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.h3,h4{
  color: black;

}


.cardhp{
  opacity: .5;
  background-color: rgb(0, 0, 0);
  color: #fff;

}



/* Graficas principal */
#sales-doughnut-chart-us, #sales-doughnut-chart-nl, #sales-doughnut-chart-de {
				height: 280px;
				margin-top: 1rem;
				width: 100%;

			}

			#page-views-spline-area-chart, #orders-spline-area-chart, #revenue-spline-area-chart {
				height: 100px;
				width: 100%;
			}

			#users-doughnut-chart, #users-spline-chart {
				height: 280px;
				margin-top: 2rem;
				width: 100%;
			}

			#users-countries-bar-chart {
				height: 360px;
				margin-top: 2rem;
				width: 100%;
			}
/* Fin Graficas principal */


.h1t{
	color:#069d44;


}
