.gr-1 {
background: linear-gradient(170deg, #0DA50A 0%, #ADF1AC 80%);
}
.gr-2 {
  background: linear-gradient(170deg, #B4EC51 0%, #429321 100%);
}
.gr-3 {
  background: linear-gradient(170deg, #C86DD7 0%, #3023AE 100%);
}
.opacity1{
  opacity: .5;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.cardhp{
  opacity: .5;
  background-color: rgb(0, 0, 0);
  color: #fff;

}



/* Graficas principal */
#sales-doughnut-chart-us, #sales-doughnut-chart-nl, #sales-doughnut-chart-de {
				height: 280px;
				margin-top: 1rem;
				width: 100%;

			}

			#page-views-spline-area-chart, #orders-spline-area-chart, #revenue-spline-area-chart {
				height: 100px;
				width: 100%;
			}

			#users-doughnut-chart, #users-spline-chart {
				height: 280px;
				margin-top: 2rem;
				width: 100%;
			}

			#users-countries-bar-chart {
				height: 360px;
				margin-top: 2rem;
				width: 100%;
			}
/* Fin Graficas principal */


.h1t{
	font-size: 3em;
	font-weight: bold;
	padding: 0;
	color:#75293d ;
	size: 10px;
	
}


.fondo1{
	
	/*background-image: url(../assets/media/bg/bg-cdmx.png);*/
	background-repeat: no-repeat;
	background-position:center ;
	background-position-y: top;

}


.titulo_card{
	background: #75293d;
	color: seashell;
S
}

.h2{
	font-size: 10px;

}

.nav2 {
  background-color: #75293d;
  color: #fff;
  padding: 1px;
  font-family: tahoma;
}

.new2 {
  background-color: #ffffff;
  padding: 10px;
  float: left;
  color: #fa0000;
  font-size: 15px;
  font-weight: bold;
}

#news2 {
  padding: 10px;
  float: left;
  font-weight: bold;
}

.clear2 {
  clear: both;
}
.fondolateral{
	background-image: url(../assets/media/bg/bg-cdmx_bn.png);
	background-repeat: no-repeat;
	background-position:center ;

}




